Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
install-sh
ltmain.sh
missing
Makefile
config.h
config.log
config.status
libtool
stamp-h1
libtool.m4
lt~obsolete.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
m4
py-compile
*.sav
__pycache__
*.swp
.deps
depcomp
build.log
*.bak
